Connexion à {{ appName }}

Bonjour {{ name }},

Une tentative de connexion a été effectuée sur votre compte. Utilisez le code suivant pour confirmer qu'il s'agit bien de vous :

{{ code }}

Ce code expirera dans {{ expiresIn }} minutes.

AVERTISSEMENT :
Si vous n'avez pas tenté de vous connecter, nous vous recommandons de :
- Ne pas partager ce code
- Changer immédiatement votre mot de passe
- Contacter notre support

Cordialement,
L'équipe {{ appName }} 