Password Reset Successful

Hello {{ name }},

Your password has been successfully reset.

Your account security has been updated. You can now use your new password to log in to your account.

If you did not request this password reset, please contact our support team immediately.

This is an automated message from {{ appName }}. Please do not reply to this email. 